<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Lab Search</title>
    </head>
    <body>
        <table>
            <tr>
                <th>研究室名</th>
            </tr>
            <form method="post" action="lab_search">
                <tr>
                    <td><input type="text" name="lab_name"></td>
                    <td><input type="submit" value="検索"></td>
                </tr>
            </form>
        </table>
        <table>
            <tr>
                <th>メンバー名</th>
            </tr>
            <form method="post" action="member_search">
                <tr>
                    <td><input type="text" name="member_name"></td>
                    <td><input type="submit" value="検索"></td>
                </tr>
            </form>
        </table>
    </body>
</html>